@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --color-main: #0094cf;
  --color-accent: #004587;
  --color-light-white: #eeeeee;
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
	--color-red: #ff6863;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* size */

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

p,
a,
li,
h2,
span,
input,
div,
button {
  font-family: 'NanumSquareRound';
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

body {
  padding-top: 150px;
}

/* haeder */
#header {
  max-width: 1200px;
  height: 140px;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: height 400ms;
}

.header__top-menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px 44px;
}

.header__top-menu li a {
  font-size: var(--font-micro);
  padding: 0px 8px;
}

.header__top-menu li a:hover {
  color: var(--color-main);
}

/* nav */
.navbar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.navbar__logo {
  cursor: pointer;
}

.navbar__menu {
  display: flex;
}

.navbar__menu > li {
  padding: 8px 16px;
}

.navbar__menu li a {
  height: 24px;
  line-height: 24px;
  font-size: var(--font-regular);
  cursor: pointer;
}

/* two depth menu */
.navbar__depth-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.95) 10%);
}

.navbar__menu > li:hover ul {
  display: flex;
}

.navbar__depth li,
.navbar__depth li a {
  padding: 8px 0;
  text-align: center;
  font-size: var(--font-small);
}

.navbar__depth a:hover {
  color: var(--color-main);
}

.navbar__depth .navbar__depth-title {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.navbar__depth li.go a {
	color: var(--color-main);
}



/* footer */
footer {
	max-width: 1200px;
	margin: auto;
	margin-top: 80px;
}

.footer__box1 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-dark-grey);
}

.footer__box1-left {
	display: flex;
}

.footer__box1-left li {
	height: 15px;
	line-height: 15px;
	margin-right: 12px;
	font-size: var(--font-micro);
}

.footer__box1-left li .red {
	color: var(--color-red);
}

.footer__box1-right {
	display: flex;
}

.footer__box1-right li {
	margin-left: 12px;
}

.footer__box1-right li a{
	font-size: 20px;
}

.footer__box1-right .fa-facebook-square {
	color: blue
}

.footer__box1-right .fa-youtube {
	color: red;
}

.footer__box2 {
	margin: 80px 0;
	display: flex;
	justify-content: center;
}

.footer__box2 img {
	margin-right: 10px;
}

.footer__box2-text {
	font-size: var(--font-micro);
}