:root {
  /* color */
  --color-main: #0094cf;
  --color-accent: #004587;
  --color-light-white: #eeeeee;
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* size */

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-black);
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}