@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --color-main: #0094cf;
  --color-accent: #004587;
  --color-light-white: #eeeeee;
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* size */

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

p,
a,
li,
span,
input {
  font-family: 'NanumSquareRound';
}

/* haeder */
#header {
  max-width: 1200px;
	margin: auto;
}
.header__top-menu {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.header__top-menu li {
  padding: 0px 8px;
}

.header__top-menu li a {
  font-size: var(--font-micro);
}

/* nav */
.navbar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
	margin-bottom: 20px;
}

.navbar__logo {
  cursor: pointer;
}

.navbar__menu {
  display: flex;
}

.navbar__menu li h2 {
  height: 24px;
  line-height: 24px;
  font-size: var(--font-regular);
  padding: 0 16px;
  cursor: pointer;
}

/* two depth menu */
.depth__menu-wrap {
  position: relative;
  display: none;
}

.depth__menu-wrap {
  width: 100%;
  background-color: var(--color-dark-white);
  border-bottom: 1px solid black;
}
.navbar__depth-wrap {
  display: flex;
  width: 100%;
  height: 350px;
  max-width: 1200px;
  padding: 40px;
  margin: auto;
  justify-content: space-between;
  position: absolute;
}

.navbar__depth li {
  padding: 8px 0;
  text-align: center;
}

.navbar__depth .navbar__depth-title {
  font-weight: var(--weight-semi-bold);
}

/* Main slide */
.main__slide {
	width: 1200px;
	position: relative;
	margin: auto;
}

.slide__container {
	width: 1200px;
	overflow: hidden;

}

.slide__images {
	display: flex;
	position: relative;
	transition: transform 500ms ease;
}

.slide__images img {
	width: 100%;
}

.slide__prev,
.slide__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: var(--color-white);
	transition: color 10ms ease;
}

.slide__prev {
  left: 48px;
}

.slide__next {
  right: 48px;
}

.slide__prev:hover,
.slide__next:hover {
	color: var(--color-blue);
}

/* Search bar */
.main__search {
	padding: 30px;
	width: 50%;
	margin: auto;
	position: relative;
}

.main__search .searchbar {
	width: 100%;
	height: 50px;
	padding: 20px;
	border-radius: 30px;
	border: 2px solid var(--color-main);
	outline: none;
	color: var(--color-grey);
}

.main__search .fa-search {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: var(--color-main);
	cursor: pointer;
}

/* quick icon menu */
section {
	max-width: 1200px;
	margin: auto;
}
.main__quick-menu {
	margin-bottom: 80px;
}
.main__quick-menu ul {
	display: flex;
	justify-content: space-between;
}

.main__quick-item {
	width: 130px;
	height: 130px;
	text-align: center;
	align-items: center;
	padding: 15px;
	position: relative;
	/* background-color: var(--color-yellow); */
}

.main__quick-item img {
	height: 50%;
	transition: all 300ms ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main__quick-item p {
	width: 100%;
	font-size: var(--font-small);
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.main__quick-item .hover-icon {
	opacity: 0;
}

.main__quick-item:hover .hover-icon {
	opacity: 1;
}

.main__quick-item:hover .defalt-icon {
	opacity: 0;
}


/* Best & New book */
.main__book {
	width: 100%;
}

.main__book-button {
	display: flex;
	margin-bottom: 20px;
}

.main__book-button a {
	border: 1px solid var(--color-dark-grey);
	border-radius: 30px;
	padding: 12px 26px;
	font-size: var(--font-regular);
	margin-right: 15px;
}

.main__book-content > ul {
	display: none;
}

.main__book-content .book-item__wrap{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.book-item__wrap li {
	width: 192px;
	height: 258px;
	box-shadow: 5px 4px 8px 1px rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden;
}

.book-item__wrap li img {
	width: 192px;
	height: 258px;
}

.main__book-button a.book__active {
	color: var(--color-main);
	border:1px solid var(--color-main);
	background-color: var(--color-main);
	color: var(--color-white);
}

.book-item__wrap .newcaption {
	width: 192px;
	height: 90px;
	padding: 8px;
	text-align: center;
	font-size: var(--font-small);
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--color-light-white);
	position: absolute;
	bottom: -90px;
	transition: all 300ms ease;
}

.newcaption p {
	margin-top: 10px
}

.book-item__wrap li:hover .newcaption {
	bottom: 0px;
}

.newcaption p:after {
	content: '';
	display: block;
	position: relative;
	left: 50%;
	width: 15px;
	height:1px;
	transform: translateX(-50%);
	margin: 6px 0;
	background-color: var(--color-yellow);
}  















/* .main__book {
	position: relative;
	width: 100%;
	height: 400px;
}

.main__book .main__book-list {
	overflow: hidden;
}

.main__book-panel {
	float: left;
	width: 100%;
	height: 100%;
}

.main__book .main__book-item {
	width: 100%;
	position: absolute;
	display: none;
}

.main__book-panel .main__book-btn {
	width: 40px;
	height: 60px;
	padding: 50px;
	font-size: var(--font-regular);
}

.book__selected .main__book-item {
	display: flex;
	justify-content: space-between;
}


.book__selected .main__book-btn {
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	color: var(--color-white);
}

*/
/* 
.main__book-item li {
	width: 192px;
	height: 258px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 4px 8px 1px rgba(0,0,0,0.3);
	cursor: pointer;
}

.main__book-item img {
	width: 192px;
	height: 258px;
}

.main__book-item .newcaption {
	width: 192px;
	height: 90px;
	padding: 8px;
	text-align: center;
	font-size: var(--font-small);
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--color-light-white);
	position: absolute;
	bottom: -90px;
	transition: all 300ms ease;
}

.newcaption p {
	margin-top: 10px
}

.main__book-item li:hover .newcaption {
	bottom: 0px;
}

.newcaption p:after {
	content: '';
	display: block;
	position: relative;
	left: 50%;
	width: 15px;
	height:1px;
	transform: translateX(-50%);
	margin: 6px 0;
	background-color: var(--color-yellow);
}  */